<!DOCTYPE html> <html>
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<title>排行榜</title>
 <script src="//code.jquery.com/jquery-1.12.3.js"></script>
 <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">

</head>
<body>
  <table id="example" class="display" cellspacing="0" width="100%">
          <thead>
            <tr>
                <th>序号</th>
                <th>昵称</th>
                <th>总收益额</th>
                <th>总收益率</th>
                <th>回撤率</th>
                <th>风险度</th>
                <th>当日权益</th>
            </tr>
          <thead>
          <tfoot>
            <tr>
                <th>序号</th>
                <th>昵称</th>
                <th>总收益额</th>
                <th>总收益率</th>
                <th>回撤率</th>
                <th>风险度</th>
                <th>当日权益</th>
            </tr>
          </tfoot>

    </table>

<script type="text/javascript">
$(document).ready(function() {
    $('#example').DataTable( {
        "order": [[ 3, "desc" ]]
    } );
} );

$('#example').DataTable( {
    serverSide: true,
    ajax: {
        url: '/',
        type: 'POST'
    }
} );
</script>
</body>
</html>
